<html>
<head>
<title>{% block title %}{% endblock %}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}script/minesweeper.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/autoplay.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/shortcut.js" type="text/javascript"></script>
<script type="text/javascript">

SOLVER_URL = '{% url minesweepr.views.api_solve %}';

</script>

</head>
<body>

<style>

body {
  font-family: sans-serif;
}

.help {
  font-size: x-small;
  font-style: italic;
  color: grey;
}

#tooltip {
  background: #ff0;
  padding: 5px;
  border: 1px solid #aaa;
  position: absolute;
}  

td {
  font-size: small;
}

#boardconfig {
  float: left;
  background: #eee;
  padding: 6px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

{% block content_style %}
{% endblock %}

</style>

{% block main %}
{% endblock %}

  <table id="boardconfig">
    <tr>
      <td valign="top">

  <table>
    <tr>
      <td valign="top">Topology:&nbsp;&nbsp;</td>
      <td>
        <table>
          <tr>
            <td>
              <input id="topo-grid" name="topo" type="radio" value="grid"> <label for="topo-grid">grid</label><br>
              <input id="topo-torus" name="topo" type="radio" value="torus"> <label for="topo-torus">torus</label><br>
              <input id="topo-cube2d" name="topo" type="radio" value="cube2d"> <label for="topo-cube2d">cube (surface)</label><br>
            </td>
            <td>
              &nbsp;<input id="topo-cube3d" name="topo" type="radio" value="cube3d"> <label for="topo-cube3d">cube (3-d)</label><br>
              &nbsp;<input id="topo-hex" name="topo" type="radio" value="hex"> <label for="topo-hex">hexa-grid</label><br>
              &nbsp;<input id="topo-grid2" name="topo" type="radio" value="grid2"> <label for="topo-grid2">grid+1</label><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="1%">Width:&nbsp;&nbsp;</td>
      <td><input id="width" type="text" style="width: 6em;">&nbsp;&nbsp;</td>
      <td width="1%">Height:&nbsp;&nbsp;</td>
      <td><input id="height" type="text" style="width: 6em;">&nbsp;&nbsp;</td>
      <td><span id="depth_lab">Depth:&nbsp;&nbsp;</span></td>
      <td><input id="depth" type="text" style="width: 6em;"></td>
    </tr>
    <tr>
      <td>Mines:&nbsp;&nbsp;</td>
      <td><input id="mines" type="text" style="width: 6em;"></td>
      <td colspan="4" class="help">total # of mines OR<br>per-cell probability of a mine 0.0-1.0 (total # will vary)</td>
    </tr>
  </table>
  <table>
    <tr>
      <td><input id="first_safe" type="checkbox"> <label for="first_safe">1<sup>st</sup> click is safe</label></td>
      <td align="right">
        &nbsp;&nbsp;&nbsp;<span class="help">(ctrl+enter)</span>&nbsp;<a id="start" href="#"><b>start new game</b></a>
      </td>
    </tr>
  </table>

      </td>
    </tr>
  </table>

  <table>
    <tr><td style="width: 15em;"># mines left: <b><span id="num_mines">&mdash;</span></b></td></tr>
    <tr><td style="width: 25em;">total accumulated risk: <b><span id="risk">&mdash;</span></b></td></tr>
    <tr><td style="width: 15em;">
      <span id="win" style="font-weight: bold; color: green;">WIN</span>
      <span id="fail" style="font-weight: bold; color: red;">FAIL</span>
    </td></tr>
    <tr><td><span id="solving">solving&hellip; <img src="{{ STATIC_URL }}img/loading.gif"></span><span id="solved">solved in <span id="solve_time" style="font-weight: bold;"></span></span></td></tr>
  </table>

  <canvas id="game_canvas">
    This demo requires HTML canvas
  </canvas>

  <div id="tooltip">-.--%</div>

</body>
</html>



<!--

        &nbsp;&nbsp;&nbsp;<span class="help">(enter)</span>&nbsp;<a id="step" href="#"><b>next move</b></a>

-->
