<html>
<head>
<title>{% block title %}{% endblock %}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}script/minesweeper.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/autoplay.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/shortcut.js" type="text/javascript"></script>
<script type="text/javascript">

SOLVER_URL = '{% url minesweepr.views.api_solve %}';

</script>

</head>
<body>

<style>

body {
  font-family: sans-serif;
}

.help {
  font-size: x-small;
  font-style: italic;
  color: grey;
}

#tooltip {
  background: #ff0;
  padding: 5px;
  border: 1px solid #aaa;
  position: absolute;
}  

td {
  font-size: small;
}

#bannerwrap {
  margin-left: -8px;
  float: left;
}
#banner {
  border-spacing: 8px;
}

#boardconfig, #playconfig, #gamestats {
  padding: 6px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#boardconfig {
  background: #eee;
}

#playconfig {
  background: #eee;
}

#gamestats {
  border: 3px #ccf solid;
}

.gamestat {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

{% block content_style %}
{% endblock %}

</style>

{% block main %}
{% endblock %}

  <div id="bannerwrap">
  <table id="banner" style="height: 1px;">
  <tr>
  <td id="playconfig">

  <table style="height: 100%;">
  <tr>
  <td style="vertical-align: top;">

  <nobr><input id="play-auto" name="play" type="radio" value="auto"> <label for="play-auto">Auto play</label></nobr><br>
  <nobr><input id="play-manual" name="play" type="radio" value="manual"> <label for="play-manual">Manual play</label></nobr>

  </td>
  </tr>
  <tr>
  <td> 

  <nobr><input id="show-mines" name="play" type="checkbox"> <label for="show-mines">Show mines</label></nobr><br>
  <nobr><input id="show-sol" name="play" type="checkbox"> <label for="show-sol">Show solution</label></nobr>

  </td>
  </tr>
  <tr>
  <td style="vertical-align: bottom;">

  <div style="text-align: right;"><span class="help">(enter)</span>&nbsp;<a id="step" href="#"><b>next move</b></a></div>
  <div style="text-align: right;"><span class="help">(enter)</span>&nbsp;<nobr><a id="step" href="#"><b>apply solution</b></a></nobr></div>
  <div style="text-align: right;"><span class="help">(ctrl+left)</span>&nbsp;<nobr><a id="step" href="#"><b>undo</b></a></nobr></div>
    
  </td>
  </tr>
  </table>

  </td>
  <td id="boardconfig">

  <table>
    <tr>
      <td valign="top">

  <table>
    <tr>
      <td valign="top">Topology:&nbsp;&nbsp;</td>
      <td>
        <table>
          <tr>
            <td>
              <input id="topo-grid" name="topo" type="radio" value="grid"> <label for="topo-grid">grid</label><br>
              <input id="topo-torus" name="topo" type="radio" value="torus"> <label for="topo-torus">torus</label><br>
              <input id="topo-cube2d" name="topo" type="radio" value="cube2d"> <label for="topo-cube2d">cube (surface)</label><br>
            </td>
            <td>
              &nbsp;<input id="topo-cube3d" name="topo" type="radio" value="cube3d"> <label for="topo-cube3d">cube (3-d)</label><br>
              &nbsp;<input id="topo-hex" name="topo" type="radio" value="hex"> <label for="topo-hex">hexa-grid</label><br>
              &nbsp;<input id="topo-grid2" name="topo" type="radio" value="grid2"> <label for="topo-grid2">grid+1</label><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="1%">Width:&nbsp;&nbsp;</td>
      <td><input id="width" type="text" style="width: 6em;">&nbsp;&nbsp;</td>
      <td width="1%">Height:&nbsp;&nbsp;</td>
      <td><input id="height" type="text" style="width: 6em;">&nbsp;&nbsp;</td>
      <td><span id="depth_lab">Depth:&nbsp;&nbsp;</span></td>
      <td><input id="depth" type="text" style="width: 6em;"></td>
    </tr>
    <tr>
      <td>Mines:&nbsp;&nbsp;</td>
      <td><input id="mines" type="text" style="width: 6em;"></td>
      <td colspan="4" class="help">total # of mines OR<br>per-cell probability of a mine 0.0-1.0 (total # will vary)</td>
    </tr>
  </table>
  <table>
    <tr>
      <td><input id="first_safe" type="checkbox"> <label for="first_safe">1<sup>st</sup> click is safe</label></td>
      <td align="right">
        &nbsp;&nbsp;&nbsp;<span class="help">(ctrl+enter)</span>&nbsp;<a id="start" href="#"><b>start new game</b></a>
      </td>
    </tr>
  </table>

      </td>
    </tr>
  </table>

  </td>
  <td id="gamestats">

  <table style="height: 100%; width: 10em;">
    <tr><td># mines left:</td><td id="num_mines" class="gamestat">&mdash;</td></tr>
    <tr><td>total accumulated risk:</td><td id="risk" class="gamestat">&mdash;</td></tr>
    <tr id="solving" style="height: 35px;"><td style="vertical-align: top;">solving&hellip;</td><td class="gamestat"><img src="{{ STATIC_URL }}img/loading.gif"></td></tr>
    <tr id="solved"><td><span>solved in:</span></td><td class="gamestat"><span id="solve_time"></span></td></tr>
    <tr><td colspan="2" height="100%" style="text-align: center; vertical-align: bottom; font-weight: bold; font-size: 48px;">
      <span id="win" style="color: green;">WIN</span>
      <span id="fail" style="color: red;">FAIL</span>
    </td></tr>

  </table>


  </td></tr>
  </table>
  </div>

  <canvas id="game_canvas">
    This demo requires HTML canvas
  </canvas>

  <div id="tooltip">-.--%</div>

</body>
</html>
